<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @member.company %>
</p>

<p>
  <b>Memberinfono:</b>
  <%= @member.memberinfono %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
